:root {
  --fs-xl: clamp(1.5rem, 3vw + 1rem, 3rem);
  /* font-family*/
  --ff-body: "Space Grotesk", sans-serif;
  /* Font-display */
  --fd-body: swap;
  /* Font-style */
  --fs-normal: normal;
  /* Font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

  --fff: #fff;
  --000: #000;
  --888: #687076;
  --111: #11a36a;
  --222: #390fa0;

  --shadow: #272121;
}

@media (min-width: 40em) {
  :root {
    --fs-400: 1rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: var(--fs-400);
  font-family: var(--ff-body);
  font-display: var(--fd-body);
  font-variation-settings: "wght" 400;
  font-variant: common-ligatures contextual;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: "case" 1, "cpsp" 1, "dlig" 1, "cv01" 1, "cv02", "cv03" 1, "cv04" 1;
  letter-spacing: -0.02em;
  line-height: 1.2 !important;
}
header {
  display: block;
}

body,
h1,
h2,
h3,
p,
a,
blockquote {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

@media screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection {
  background-color: transparent;
  color: var(--111);
}

::-webkit-scrollbar {
  width: 0.5svw;
  background: var(--888);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(transparent, var(--111));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--222));
}
