@import "./Responsive/Header.css";

.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  transition: all 1.2s ease;
}

.page_padding {
  padding: 0 2rem;
}

.nav_active {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  background-color: hsla(0, 0%, 0%, 0.7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(10px);
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  transition: all 1.2s ease;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.nav_inner {
  position: relative;
  display: flex;
  padding: 10px 6px 0;
  justify-content: space-between;
  border-bottom: 1px solid rgba(2, 23, 53, 0.027);
  transition: border-color 0.2s;
  align-items: self-start;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_span {
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.menu {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav_link {
  display: flex;
  gap: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  transition: height 1s ease-in-out;
}

.link {
  font-size: 1.5rem;
  font-weight: bolder;
}

.link:hover {
  color: #fff;
}

.nav_socials {
  display: flex;
  gap: 2rem;
}

.social_link {
  transition: all 0.4s ease;
}
.social_link:hover {
  transform: scaleX(1.4) scaleY(1.4);
}

@media screen and (max-width: 850px) {
  .nav {
    display: flex;
  }

  .logo {
    display: none;
  }

  .menu {
    display: block;
  }

  .link {
    display: none;
  }

  .nav_link {
    gap: 0.6rem;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    height: 0;
    overflow: hidden;
  }

  .nav_socials {
    margin-right: 0rem;
    justify-content: center;
    height: 0;
  }
}
