.hero_ui_intro {
  position: static;
  padding-top: 132px;
  padding-bottom: 152px;
  text-align: center;
}

.page_padding {
  padding-right: 40px;
  padding-left: 40px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.hero_ui_intro_inner {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.hero_intro_wrap {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 16px;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto;
}

.hero_intro_content {
  position: relative;
  z-index: 1;
  width: 100%;
}

.hero_heading_ui_wrap {
  will-change: transform, opacity;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}

.hero_title {
  margin: 0;
  color: #fff;
  font-size: 3.5rem;
  animation: moveToRight 2s ease-in-out;
}

.hero_title strong {
  color: #11a36a;
}

.hero_sub_title {
  color: #fff;
}

.hero_paragrafo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 490PX;
  animation: moveToLeft 2s ease-in-out;
}

.hero_paragrafo strong {
  color: #11a36a;
  cursor: pointer;
  font-size: 1.3rem;
}

.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  width: 14rem;
  height: 4rem;
  border-radius: 50px;
  border: none;
  font-weight: bolder;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  background-image: linear-gradient(to right, #13adc7, #945dd6);
  animation: showButton 1.5s ease-in-out 2.4s backwards;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showButton {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1250px) {
  .hero_title {
    font-size: 2.5rem;
  }

  .hero_paragrafo {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .hero_title {
    font-size: 2.5rem;
  }

  .hero_paragrafo {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .hero_button {
    display: inline-block;
    line-height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .hero_ui_intro_inner {
    height: auto;
  }
}

@media screen and (max-width: 1250px) {
  .hero_intro_wrap {
    grid-row-gap: 80px;
    grid-template-columns: 1fr;
  }
}
