.nav,
.nav_active {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  background-color: transparent;
  transition: background-color 1.2s;
}

.nav_active {
  background: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(5px);
}

.page_padding {
  padding: 0 40px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.nav_inner {
  position: relative;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(2, 23, 53, 0.1);
  transition: border-color 0.2s;
}

.logo {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: 102;
  margin-left: -16px;
  padding: 6px 16px;
  font-size: 20px;
  font-weight: 500;
  transition: all 2s ease;
}

.logo a {
  color: #899197;
  transition: all 1s ease;
}


.logo a:hover {
  color: #fff;
  transition: all 1s ease;
}

.menu {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav_menu {
  display: flex;
}

.nav_menu a {
  position: relative;
  z-index: 102;
  padding: 8px 14px;
  color: #687076;
  transition: all 1s ease;
}

.nav_menu a:hover {
  color: #fff;
  transition: all 1s ease;
}

.loading,
.loaded {
  opacity: 1;
  position: absolute;
  right: 0;
  z-index: 102;
  margin-right: -20px;
  font-size: 16px;

  display: flex;
  padding: 8px 20px;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.loading {
  opacity: 0;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #00000033;
  transition: all 1s ease;
}

.avatar:hover {
  opacity: 0.8;
  transition: all 200ms ease;
}

.modal,
.modal_active {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: auto;

  background-color: #ffffffd9;
  color: #000;
  border-radius: 8px;
  transition: background-color 1.2s;
}

.modal_active {
  background: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(5px);
}

.page_padding_modal {
  padding: 0 1rem;
}

.modal_container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.modal_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  min-width: 15vw;
}

.modal_header,
.modal_hero {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #00000059;
}

.modal_header span {
  height: 36px;
  width: 36px;
}
.modal_header strong {
  font-weight: 600 !important;
  font: bold !important;
  font-variation-settings: "wght" 600;
  font-size: 17px;
}

.modal_header_content,
.modal_hero_content {
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal_hero_content {
  padding: 10px 0;
  flex-direction: column;
}

.list {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-variation-settings: "wght" 500;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e6eb;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.btnActive {
  border-radius: 8px;
  color: #fff;
  background-color: #6674f3 !important;
}

.modal_inner button {
  background: #f3dede1e;
  width: 60px;
  height: 35px;
  border: none;
  font-weight: 600;
}

.modal_inner button:hover {
  background: #00000033;
  border-radius: 8px;
  text-shadow: 0px 0px 5px #fff;
}

.modal_active a {
  color: #fff;
}

.global svg {
  font-size: 1.2em;
}

@media screen and (max-width: 991px) {
  .nav {
    justify-content: space-between;
  }

  .nav_active {
    justify-content: space-between;
  }

  .modal_header_content {
    flex-direction: column;
    min-width: 220px;
  }

  .list {
    gap: 0;
  }

  .list span {
    display: flex;
    flex-direction: row;
  }

  .icon {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    display: none;
  }

  .nav_menu {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav {
    justify-content: space-between;
  }
}
