.footer {
    padding-bottom: 32px;
    font-size: 14px;
}
.page_padding {
    padding: 0 40px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.footer_inner {
    color: var(--000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.footer_links {
    display: flex;
    margin-right: -14px;
    align-items: center;
}

.footer_links a {
    color: var(--000);
}

.footer_link {
    display: block;
    padding: 8px 14px;
}

@media screen and (max-width: 1767px) {
    .footer {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .page_padding {
        padding: 0 20px;
    }

    .footer_inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer_links {
        width: 300px;
        margin-right: 0;
        margin-bottom: 8px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
